.scrollWrapper {
  overflow: auto;
  max-width: 100%;
  scrollbar-width: thin;
  height: 1.2rem;
}
.scrollWrapper::-webkit-scrollbar {
  width: 1.1rem;
  height: 1.1rem;
}
.scrollWrapper::-webkit-scrollbar-corner {
  background: transparent;
}
.scrollWrapper::-webkit-scrollbar-thumb {
  border: 6px solid transparent;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-clip: padding-box;
}
.scrollWrapper::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  background: rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
}
.scroll {
  height: 1px;
}
