.taskListTableRow {
  overflow: hidden;
  border: 1px solid rgb(224, 224, 224);
}

.taskListTableRow_Selected {
  background-color: rgb(210, 210, 210);
}

.taskListTableRow_Parent {
  font-weight: bold;
}

.taskListTableRow:hover {
  background-color: rgb(245, 245, 245);
}

.taskListCell {
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

.taskListNameWrapper {
  display: flex;
}

.taskListExpander {
  color: rgb(86 86 86);
  font-size: 0.6rem;
  border: none;
  background: none;
  user-select: none;
  cursor: pointer;
}
.taskListEmptyExpander {
  font-size: 0.6rem;
  padding-left: 1rem;
  user-select: none;
}

.horizontalContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  display: block;
}
