.ganttTable {
  border-bottom: #e6e4e4 1px solid;
  border-top: #e6e4e4 1px solid;
  border-left: #e6e4e4 1px solid;
  display: block;
}

.ganttTable_HeaderItem {
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}
