name: Publish package to NPM

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: 'npm'
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm publish
